!!! 5
%html
  %head
    %title
      Flowering
      = ' | ' + @page_title if @page_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        / Brand and Toggle
        .navbar-header
          %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse-1'}
            %span.sr-only Toggle Navigation
            %span.icon-bar 
            %span.icon-bar 
            %span.icon-bar 
          = link_to "Flowering", root_path, :class => 'navbar-brand'

        / Nav Links, Forms and other content is collected here for toggling
        .collapse.navbar-collapse#navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'Profile', '/profile'
            %li 
              - if user_signed_in?
                %p.navbar-text.navbar-right
                  = "Logged in as #{current_user.first_name} #{current_user.last_name}, "
                  = link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'
              - else
                %span= link_to 'Login', new_user_session_path, :class => 'btn btn-primary navbar-btn'
                %span= link_to 'Register', new_user_registration_path, :class => 'btn btn-danger navbar-btn'

    .container
      - if notice
        .alert.alert-success.alert-dismissible{role: 'alert'}
          = notice
      - if alert
        .alert.alert-danger.alert-dismissible{role: 'alert'}
          = alert

    = yield

